version: '3.10'

services:
  web:
    build: . # Build the image using the Dockerfile in the current directory
    container_name: django_web
    command: gunicorn --bind 0.0.0.0:8000 core.wsgi:application
    volumes:
      - .:/app # Mount the local directory to the container for development (optional)
    ports:
      - "8000:8000" # Map host port 8000 to container port 8000
    env_file:
      - .envprod # Load environment variables from a .env file
    depends_on:
      - db # Ensure the database container is started before the web container

  db:
    image: postgres:18-alpine # Use a lightweight PostgreSQL image
    container_name: postgres_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/ # Persistent volume for database data
    env_file:
      - .envprod # Load environment variables for the database

volumes:
  postgres_data: # Define the persistent volume