{% extends "admin_interface/base.html" %}
{% load static %}
{% load tz %}

{% block title %}
    {% if title %}
        {{ title }} - {{ site_title }}
    {% else %}
        {{ site_title }}
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script>
        const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;

        // Only send once per session
        if (!sessionStorage.getItem('timezone_set')) {
            fetch('/set-timezone/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: new URLSearchParams({ timezone: tz })
            }).then(() => {
                sessionStorage.setItem('timezone_set', '1');
                location.reload(); // reload once to apply new timezone
            });
        }
    </script>
{% endblock %}
