{% extends "base.html" %}

{% load render_table from django_tables2 %}

{% block content %}
  <div class="container mt-5">
    <!-- Dashboard Header -->
    <div class="d-flex justify-content-center mb-4">
      <h1 class="text-center">My Dashboard</h1>
    </div>

    <!--Filter-->
    <div class="d-flex justify-content-center mb-2">
      <form method="get" class="mt-2 row row-cols-lg-auto g-3 align-items-end p-3 rounded shadow bg-light">
        {% for field in filter.form %}
          <div class="col">
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
          </div>
        {% endfor %}
        <div class="col">
          <button type="submit" class="btn btn-primary">Apply</button>
        </div>
      </form>
    </div>

    <!-- Task Creation Section -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <a href="{% url 'task_create' %}" class="btn btn-sm btn-primary mt-2">
        <i class="fa-solid fa-plus"></i> Add Task
      </a>

      <a href="{% url 'calendar_view' %}" class="btn btn-outline-primary">📅 Calendar View</a>

    </div> 

    <div>
      <div class="bg-white p-4 mt-5 rounded shadow bg-light">
        <!-- Active Tasks Table -->
        <h4>Active Tasks</h4>
        {% if active_table.page.object_list %}
          <table id="active-tasks" class="table">
            {% render_table active_table %}
          </table>
        {% else %}
          <p class="text-muted">You have no active tasks.</p>
        {% endif %}
      </div>

      <!-- Completed Tasks Table -->
      <div class="bg-white p-4 mt-5 rounded shadow bg-light">
        <h4>Completed Tasks</h4>
        {% if completed_table.page.object_list %}
          <table id="completed-tasks" class="table">
            {% render_table completed_table %}
          </table>
        {% else %}
          <p class="text-muted">No tasks have been completed yet.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
