h3 {
    font-size: 1.50rem;
}
.table thead {
    color: #212529;
}
.table thead tr th {
    text-transform: uppercase;
    font-size: 1.00rem;
    text-decoration: none;
    
}
.table thead tr th a:link, .table thead tr th a:visited, .table thead tr th a:active {
    text-decoration: none;
    color: #212529;
}
.fc-col-header-cell-cushion, .fc-daygrid-day-number {
    color: #212529;
}
