h3 {
    font-size: 1.50rem;
}
.text-orange {
    color: orange !important;
  }
.table thead {
    color: #212529;
}
.table thead tr th {
    text-transform: uppercase;
    font-size: 1.00rem;
    text-decoration: none;
    
}
.table thead tr th a:link, .table thead tr th a:visited, .table thead tr th a:active {
    text-decoration: none;
    color: #212529;
}
.fc-col-header-cell-cushion, .fc-daygrid-day-number {
    color: #212529;
}
.fc-today-button.fc-button.fc-button-primary {
    background-color: #212529;
    border-color: #212529;
    color: #ffffff;
}
.fc-prev-button.fc-button.fc-button-primary, .fc-next-button.fc-button.fc-button-primary {
    background-color: #212529;
    border-color: #212529;
}
.bordered-checkbox {
    border: 1.5px solid #6c757d;
    border-radius: 4px;
}
.table-container {
    max-height: none;
    overflow: auto;
    padding: 10px;
    height: auto;
  }

table {
    table-layout: auto;
    width: 100%;  /* Table expands based on content */
}

td, th {
    height: auto;  /* Rows expand vertically with content */
}

.fixed-column-width {
    max-width: 30px !important;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}
  